// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : false;
$container : conserco;
$item      : item;
$max-width : 1050px;
$gutter     : 1rem;

$breakpoints : (
  s  : 0,
  m  : 550px,
  l  : 840px,
  xl  : 1024px,
);


// Colors
$firstColor  : #e10916;
$secondColor : #03115e;
$thirdColor  : #e4e4e4;
$accentColor : #f7fb05;
$darkColor   : #171A1C;

// Complementary colors:
$borderColor : #DFE0E0;
$textColor   : #646464;
$bodyBg      : #fafdff;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;
