extends ../includes/template.pug
block content
  .col100
    h2.col100.main__title(v-text="mainmenu[2].title")
  main.col100
    .main
      section.main__section
        h3(v-text="mainmenu[2].submenu[0].title")
        img(src="images/concretos-de-hormigon/concreto-hormigon01.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[2].submenu[1].title")
        img(src="images/concretos-de-hormigon/concreto-hormigon02.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[2].submenu[2].title")
        img(src="images/concretos-de-hormigon/concreto-hormigon03.jpg", alt="")
        img(src="images/concretos-de-hormigon/concreto-hormigon04.jpg", alt="")