extends ../includes/template.pug
block content
  .col100
    h2.main__title.col100 Contáctenos
  main.col100
    .main
      .col30
        form.form(v-on:submit.prevent="submitForm")
          .item
            label.form__label(for="") Nombre completo: 
            input.form__input(v-model="vue.nombre" type="text" required="")
          .item
            label.form__label(for="") Teléfono: 
            input.form__input(v-model="vue.telefono" type="number")
          .item
            label.form__label(for="") Celular: 
            input.form__input(v-model="vue.movil" type="number" required="")
          .item
            label.form__label(for="") Dirección: 
            input.form__input(v-model="vue.direccion" type="text" required="")
          .item
            label.form__label(for="") Ciudad: 
            input.form__input(v-model="vue.ciudad" type="text" required="")
          .item
            label.form__label(for="") Email: 
            input.form__input(v-model="vue.email" type="email" required="")
          .item
            label.form__label(for="") Mensaje: 
            textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
          .form_buttons
            button.button.button--tertiary(type="submit") Enviar
            button.button.button--tertiary(v-on:click="clearForm()") Limpiar
          .statusMessage(v-if="formSubmitted")
            h4(v-text="vue.envio")
      .col70
        h3.main__subtitle Oficina Central - Santa Cruz
        iframe.map(src="https://www.google.com/maps/d/embed?mid=1VST8SV1277F8teSZIshhnGYBRHFnALOB", frameborder="0")
        //- iframe(src="https://www.google.com/maps/d/embed?mid=18__QbRaS1rBWqcOeFkdmOgUSvUc", width="100%")