extends ../includes/template.pug
block content
  .col100
    h2.col100.main__title(v-text="mainmenu[1].title")
  main.col100
    .main
      section.main__section
        h3(v-text="mainmenu[1].submenu[0].title")
        img(src="images/estructuras-metalicas/tinglado01.jpg", alt="")
        img(src="images/estructuras-metalicas/tinglado02.jpg", alt="")
        img(src="images/estructuras-metalicas/tinglado03.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[1].submenu[1].title")
        img(src="images/estructuras-metalicas/Tinglado -1.jpg", alt="")
        img(src="images/estructuras-metalicas/Tinglado -4.jpg", alt="")
        img(src="images/estructuras-metalicas/Tinglado -3.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[1].submenu[2].title")
        img(src="images/estructuras-metalicas/tinglado04.jpg", alt="")
        img(src="images/estructuras-metalicas/tinglado05.jpg", alt="")
        img(src="images/estructuras-metalicas/tinglado06.jpg", alt="")