extends ../includes/template.pug
block content
  .col100
    h2.col100.main__title Bienvenidos a nuestro sitio web
  main.col100
    .main
      //- .slider.col50
        //- a(v-on:click="slideCero('uno')").slider__content
          img(src="images/slide1.jpg", alt="")
      .slider.col20
        a(v-on:click="showSlider('images/slide01.jpg')").slider__content
          img.slider__thumb(src="images/slide01.jpg", alt="")
        a(v-on:click="showSlider('images/slide02.jpg')").slider__content
          img.slider__thumb(src="images/slide02.jpg", alt="")
        a(v-on:click="showSlider('images/slide03.jpg')").slider__content
          img.slider__thumb(src="images/slide03.jpg", alt="")
        a(v-on:click="showSlider('images/slide04.jpg')").slider__content
          img.slider__thumb(src="images/slide04.jpg", alt="")
      .col60.slider
        img.slider__show(:src="slideshow", alt="")
        template(v-for= "item in slide")
          transition(name="fade")
            .slider__title(v-show="slideshow == item.href")
              p(v-text="item.title") HOLA SLIDER
      .slider.col20
        a(v-on:click="showSlider('images/slide05.jpg')").slider__content
          img.slider__thumb(src="images/slide05.jpg", alt="")
        a(v-on:click="showSlider('images/slide06.jpg')").slider__content
          img.slider__thumb(src="images/slide06.jpg", alt="")
        a(v-on:click="showSlider('images/slide07.jpg')").slider__content
          img.slider__thumb(src="images/slide07.jpg", alt="")
        a(v-on:click="showSlider('images/slide08.jpg')").slider__content
          img.slider__thumb(src="images/slide08.jpg", alt="")
