extends ../includes/template.pug
block content
  .col100
    h2.col100.main__title(v-text="mainmenu[0].title")
  main.col100
    .main
      section.main__section
        h3(v-text="mainmenu[0].submenu[0].title")
        img(src="images/mallas-olimpicas/diseno1.jpg", alt="")
                
        //- img(src="images/mallas-olimpicas/mallas-olimpicas02.jpg", alt="")
        //- img(src="images/mallas-olimpicas/mallas-olimpicas03.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[0].submenu[1].title")
        img(src="images/mallas-olimpicas/mallas -6.jpg", alt="")
        
        //- img(src="images/mallas-olimpicas/mallas-olimpicas01.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[0].submenu[2].title")
        img(src="images/mallas-olimpicas/diseno2.jpg", alt="")
        //- img(src="images/mallas-olimpicas/diseno3.jpg", alt="")
        //- img(src="images/mallas-olimpicas/mallas -4.jpg", alt="")