extends ../includes/template.pug
block content
	.col100
		h2.col100.main__title(v-text="mainmenu[4].title")
	main.col100
		.main
			section.main__section
				h3(v-text="mainmenu[4].submenu[0].title")
				//- img(src="images/estructuras-metalicas/tinglado01.jpg", alt="")
				//- img(src="images/estructuras-metalicas/tinglado02.jpg", alt="")
				//- img(src="images/estructuras-metalicas/tinglado03.jpg", alt="")
			section.main__section
				h3(v-text="mainmenu[4].submenu[1].title")
				img(src="images/otros/portones01.jpg", alt="")
				img(src="images/otros/portones02.jpg", alt="")
				img(src="images/otros/juegos-infantiles01.jpg", alt="")
				img(src="images/otros/juegos-infantiles02.jpg", alt="")
			section
			.main__section
				h3(v-text="mainmenu[4].submenu[2].title")
				//- img(src="images/estructuras-metalicas/tinglado04.jpg", alt="")
				//- img(src="images/estructuras-metalicas/tinglado05.jpg", alt="")
				//- img(src="images/estructuras-metalicas/tinglado06.jpg", alt="")