extends ../includes/template.pug
block content
  .col100
    h2.col100.main__title <span v-text="mainmenu[3].title"></span>
  main.col100
    .main
      section.main__section
        h3(v-text="mainmenu[3].submenu[0].title")
        //- img(src="images/pintado-mantenimiento/pintado domiciliario industrial -5.jpg", alt="")
        //- img(src="images/pintado-mantenimiento/pintado domiciliario industrial -4.jpg", alt="")
        //- img(src="images/pintado-mantenimiento/pintado domiciliario industrial -6.jpg", alt="")
        img(src="http://fidelizacion.federacioncomercioalbacete.com/images/productos/noimage.jpg", alt="")
      section.main__section
        h3(v-text="mainmenu[3].submenu[1].title")
        //- img(src="images/pintado-mantenimiento/pintado domiciliario industrial -1.jpg", alt="")
        //- img(src="images/pintado-mantenimiento/pintado domiciliario industrial -2.jpg", alt="")
        //- img(src="images/pintado-mantenimiento/pintado domiciliario industrial -3.jpg", alt="")
        img(src="http://fidelizacion.federacioncomercioalbacete.com/images/productos/noimage.jpg", alt="")

      section.main__section
        h3(v-text="mainmenu[3].submenu[2].title")
        img(src="http://fidelizacion.federacioncomercioalbacete.com/images/productos/noimage.jpg", alt="")