.data-list {
  li div:last-child p{
    text-align : right;
  }
}

.vertical-menu-toggle {
  color: $firstColor;
}

.menu__movil{
  padding-left: 5px;
  padding-right: 5px;
  @include hideFrom(l);
}

.ah{
  color: white;
  opacity: 0.3;
  transition: opacity 0.5s;
  &:hover{
    opacity: 0.8;
  }
}
.map{
  width: 100%;
  height: 575px;
}