@font-face{ font-family:ContrailOne-Regular; src:url(../fonts/ContrailOne-Regular.woff) format("woff"),url(../fonts/ContrailOne-Regular.ttf) format("truetype"); font-weight:400; font-style:normal; }

@font-face{ font-family:untitled-font-1; src:url(../fonts/untitled-font-1.eot); src:url(../fonts/untitled-font-1.eot?#iefix) format("embedded-opentype"),url(../fonts/untitled-font-1.woff) format("woff"),url(../fonts/untitled-font-1.ttf) format("truetype"),url(../fonts/untitled-font-1.svg#untitled-font-1) format("svg"); font-weight:400; font-style:normal; }

[data-icon]:before{ content:attr(data-icon); }

[class*=" icon-"]:before,[class^=icon-]:before,[data-icon]:before{ font-family:untitled-font-1 !important; font-style:normal !important; font-weight:400 !important; font-variant:normal !important; text-transform:none !important; speak:none; line-height:1; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

.icon-facebook:before{ content:"\66"; }

.icon-twitter:before{ content:"\67"; }

.icon-youtube:before{ content:"\61"; }

.icon-marker:before{ content:"\62"; }

.whatsapp{ position:relative; padding-left:35px; padding-top:7px; padding-bottom:7px; }

.whatsapp:after{ content:""; position:absolute; width:30px; height:30px; top:50%; left:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); background:url(../images/whatsapp.png); }
*,:after,:before{ box-sizing:border-box; }

body{ font-family:sans-serif; }

img{ max-width:100%; height:auto; }

a{ text-decoration:none; }

a:hover{ text-decoration:underline; }

.conserco,.header__inicio,.header__movil_inicio,.slider{ display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; max-width:1050px; margin-left:auto; margin-right:auto; width:100%; }

.col20,.col30,.col50,.col60,.col70,.col100,.footer__menu_item,.header__inicio,.header__logo,.header__menu,.header__menu_item,.header__movil,.header__movil_inicio,.header__movil_item,.header__social,.item,.main__section,.slider__content{ margin:0; padding-left:1rem; padding-right:1rem; }

.item{ width:100%; }

.item.conserco{ padding-left:0; padding-right:0; }
*,:after,:before{ box-sizing:border-box; }

body{ margin:0; background:#fafdff; }

em,strong{ font-weight:700; }

p{ margin-top:0; }

a:hover{ -webkit-text-decoration-style:dotted; text-decoration-style:dotted; }

iframe{ height:400px; }

body{ background:#a8afc8; }

body::-webkit-scrollbar{ width:12px; }

body::-webkit-scrollbar-thumb{ background:#ffae00bf; border-radius:100px; border:2px solid #dfe0e0; }

.header{ z-index:1; background:#03115e url(../images/header-background.png); box-shadow:inset 0 -20px 20px 0 rgba(23,26,28,.2),-1px 0 10px 2px #171a1c; padding-top:20px; padding-bottom:10px; }

.header,.header__content{ position:relative; }

@media screen and (max-width:839px){ .header__movil{ width:100%; position:absolute; top:0; left:0; background:rgba(250,253,255,.5); -webkit-transform:translateX(-100%); transform:translateX(-100%); transition:-webkit-transform .8s; transition:transform .8s; transition:transform .8s,-webkit-transform .8s; padding-top:15px; padding-bottom:15px; } }

@media screen and (max-width:839px) and (min-width:550px){ .header__movil{ width:62%; } }

@media screen and (max-width:839px) and (min-width:840px){ .header__movil{ width:100%; } }

.header__movil_active{ -webkit-transform:translateX(0); transform:translateX(0); }

@media screen and (min-width:840px){ .header__movil_inicio{ display:none; } }

@media screen and (max-width:839px){ .header__movil_inicio{ width:100%; padding:0; margin:0; } }

.header__movil_item{ width:33.33333%; padding:0 5px; }

.header__nav{ position:relative; margin-bottom:12px; }

.header__menu{ margin-left:0; padding-left:0; padding-right:0; }

.header__menu,.header__menu_item{ display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; width:100%; }

.header__menu_item{ -webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start; list-style:none; padding:0 .2rem; }

@media screen and (min-width:840px){ .header__menu_item{ width:20%; } }

.header .button{ display:-webkit-box; display:-ms-flexbox; -ms-flex-wrap:wrap; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-line-pack:center; align-content:center; display:flex; flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; text-shadow:-1px -1px 1px #03115e; text-transform:uppercase; border:1px solid #646464; font-weight:600; line-height:1.3; overflow:hidden; }

@media screen and (min-width:0) and (max-width:1023px){ .header .button{ height:50px; } }

@media screen and (min-width:840px){ .header .button{ font-size:1.2rem; font-size:1.1rem; } }

.header .button:hover{ text-shadow:none; }

@media screen and (min-width:840px) and (max-width:1023px){ .header .button{ font-size:.8rem; line-height:1.5; } }

.header .button--tertiary{ font-size:.9rem; padding:3px 12px; }

.header__inicio{ margin-left:0; padding-left:0; width:30%; display:-webkit-box; display:-ms-flexbox; -ms-flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; display:flex; flex-wrap:wrap; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-line-pack:center; align-content:center; }

.header__inicio_item{ list-style:none; margin-bottom:7px; }

@media screen and (max-width:839px){ .header__inicio{ display:none; } }

.header__logo{ margin:auto; width:100%; display:-webkit-box; display:-ms-flexbox; -ms-flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; display:flex; flex-wrap:wrap; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-line-pack:center; align-content:center; }

@media screen and (min-width:550px){ .header__logo{ width:70%; } }

@media screen and (min-width:840px){ .header__logo{ width:40%; } }

.header__logo img{ background:#fff; padding:10px 10px 9px; border-radius:8px; border:1px #a2a2a3; border-style:ridge; }

.header__social{ width:30%; display:-webkit-box; display:-ms-flexbox; -ms-flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; display:flex; flex-wrap:wrap; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-line-pack:center; align-content:center; }

@media screen and (max-width:839px){ .header__social{ display:none; } }

.main{ display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start; padding:15px; margin-bottom:15px; box-shadow:0 0 10px 0 #171a1c; background:#fafdff; }

.main__title{ background:radial-gradient(#fff,#eee,#ddd,#bebebe); color:#03115e; text-align:center; border:3px groove; margin:10px 0; }

.main__section{ width:100%; }

@media screen and (min-width:550px){ .main__section{ width:33.33333%; } }

.main__section:nth-child(-n+2){ border-right:1.5px solid #fff; -o-border-image:linear-gradient(transparent 20%,rgba(3,17,94,.25) 0,rgba(3,17,94,.25) 0,rgba(3,17,94,.25) 100%,transparent 0); border-image:linear-gradient(transparent 20%,rgba(3,17,94,.25) 0,rgba(3,17,94,.25) 0,rgba(3,17,94,.25) 100%,transparent 0); border-image-slice:1; }

.main__section img{ width:100%; -o-object-fit:cover; object-fit:cover; }

@media screen and (min-width:1024px){ .main__section img{ height:250px; } }

@media screen and (min-width:840px) and (max-width:1023px){ .main__section img{ height:170px; } }

@media screen and (min-width:550px) and (max-width:839px){ .main__section img{ height:140px; } }

@media screen and (max-width:549px){ .main__section img{ height:200px; } }

.main h3{ margin-top:1.1em; }

#app{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; min-height:calc(100vh - 64px); }

.sidebar-first{ margin-bottom:1em; }

.footer{ background:#e4e4e4 url(../images/header-background.png); box-shadow:0 0 10px 0 #171a1c; }

.footer__item{ padding-top:20px; padding-bottom:18px; }

.footer__item--block{ background:hsla(0,0%,89%,.7); }

.footer__title{ width:100%; margin:0 0 5px; color:#fafdff; background:linear-gradient(#e10916,#7f050c); text-align:center; border-bottom:1px solid #03115e; }

.footer__text{ -ms-flex-wrap:wrap; -ms-flex-pack:center; flex-wrap:wrap; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-line-pack:center; align-content:center; font-size:1.1rem; color:#041577; margin-top:5px; text-align:center; }

.footer__menu_ul,.footer__text{ display:-webkit-box; display:-ms-flexbox; -webkit-box-pack:center; justify-content:center; display:flex; }

.footer__menu_ul{ -ms-flex-wrap:wrap; flex-wrap:wrap; -ms-flex-pack:center; list-style:none; padding-left:0; margin:0; }

.footer__menu_item{ width:100%; padding:0 .3rem; }

@media screen and (min-width:550px){ .footer__menu_item{ width:50%; } }

@media screen and (min-width:840px){ .footer__menu_item{ width:33.33333%; } }

@media screen and (min-width:1024px){ .footer__menu_item{ width:20%; } }

.footer__menu_link{ display:-webkit-box; display:-ms-flexbox; -ms-flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; display:flex; flex-wrap:wrap; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-line-pack:center; align-content:center; height:42px; font-size:.85rem; line-height:1.25; text-align:center; background:#03115e; color:#e4e4e4; overflow:hidden; }

.footer__submenu{ margin:0; }

.footer__copyright{ background:#03115e url(../images/header-background.png); box-shadow:-1px 0 10px 2px #171a1c; color:#fff; text-align:center; text-shadow:1px 1px 1px #000; }

.footer__copyright p{ font-size:1rem; }

.footer__copyright_item{ background:linear-gradient(rgba(0,11,50,.858824),rgba(5,12,89,.768627),rgba(8,16,94,.51)); }

.footer span{ display:inline-block; }

.footer__social{ width:100%; display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

@media screen and (min-width:840px){ .footer__social{ display:none; } }

.col20{ width:100%; }

@media screen and (min-width:840px){ .col20{ width:20%; } }

.col60{ width:100%; padding:0; }

@media screen and (min-width:840px){ .col60{ width:60%; } }

.col30{ width:100%; }

@media screen and (min-width:550px){ .col30{ width:50%; } }

@media screen and (min-width:840px){ .col30{ width:30%; } }

.col70{ width:100%; }

@media screen and (min-width:550px){ .col70{ width:50%; } }

@media screen and (min-width:840px){ .col70{ width:70%; } }

.col50{ width:100%; }

@media screen and (min-width:550px){ .col50{ width:50%; } }

.col100{ width:100%; }

.left{ float:left; }

.right{ float:right; }

.button,[class*=button--]{ display:inline-block; padding:.5em .6em .2em; background:linear-gradient(#e10916,#7f050c); box-shadow:0 2px 8px rgba(0,0,0,.5),inset 0 1px hsla(0,0%,100%,.3),inset 0 10px hsla(0,0%,100%,.2),inset 0 10px 20px hsla(0,0%,100%,.25),inset 0 -15px 30px rgba(0,0,0,.3); color:#fafdff; margin:0 2rem 0 0; cursor:pointer; text-decoration:none; border-radius:.25rem; font-family:ContrailOne-Regular,sans-serif; transition:-webkit-transform .05s; transition:transform .05s; transition:transform .05s,-webkit-transform .05s; border:none; text-align:center; }

.button:hover,[class*=button--]:hover{ background:#d7d7d7; color:#03115e; text-decoration:inherit; }

.button:active,[class*=button--]:active{ -webkit-transform:scale(.99); transform:scale(.99); }

.button.center,[class*=button--].center{ display:table; margin:0 auto; }

.button.full,[class*=button--].full{ margin:0; width:100%; }

.button.button--small,[class*=button--].button--small{ padding:.3em .8em; }

.button--secondary{ background:#03115e; }

.button--secondary:hover{ background:#030f54; }

.button--tertiary{ background:#e4e4e4; color:#03115e; }

.button--tertiary:hover{ background:#d5d5d5; }

.button--cta{ background:#f7fb05; }

.button--cta:hover{ background:#eef204; }

.button--dark{ background:#171a1c; }

.button--dark:hover{ background:#000; }

[class*=button--ghost]{ color:#e10916; background:none; border:1px solid; }

[class*=button--ghost]:hover{ background:#e10916; color:#fff; border-color:transparent; }

.button--ghost--secondary{ color:#03115e; }

.button--ghost--secondary:hover{ background:#03115e; color:#fff; }

.button--ghost--tertiary{ color:#e4e4e4; }

.button--ghost--tertiary:hover{ background:#e4e4e4; color:#fff; }

.button--ghost--cta{ color:#f7fb05; }

.button--ghost--cta:hover{ background:#f7fb05; color:#fff; }

.button--ghost--dark{ color:#171a1c; }

.button--ghost--dark:hover{ background:#171a1c; color:#fff; }

.show-buttons .button,.show-buttons [class*=button--]{ margin-bottom:2rem; }

.show-buttons+h2{ margin-top:1rem; }
body{ position:relative; right:0; transition:right .5s; }

@media screen and (max-width:839px){ body.main-menu-visible{ right:80%; overflow-y:hidden; } }

.main-menu-toggle{ position:relative; z-index:2; width:30px; height:20px; box-shadow:inset 0 4px #646464; cursor:pointer; }

.main-menu-toggle:after,.main-menu-toggle:before{ content:""; position:absolute; width:100%; height:4px; background-color:#646464; bottom:0; }

.main-menu-toggle:after{ bottom:8px; }

.main-menu{ font-size:.875rem; }

@media screen and (max-width:839px){ .main-menu{ position:fixed; top:64px; background:rgba(225,9,22,.95); width:80%; right:-80%; padding:1em 1em 2em; height:calc(100vh - 64px); transition:right .5s; overflow-y:auto; }
  .main-menu.show{ right:0; } }

.main-menu ul{ list-style:none; margin-top:0; margin-bottom:0; padding-left:0; margin-left:0; }

@media screen and (min-width:840px){ .main-menu ul{ display:-webkit-box; display:-ms-flexbox; display:flex; } }

.main-menu li{ color:#fff; border-bottom:1px solid hsla(0,0%,100%,.2); padding:1em 0; }

@media screen and (min-width:840px){ .main-menu li{ color:#646464; padding:0; margin-left:2rem; } }

.main-menu a{ color:inherit; }

.vertical-menu-toggle{ background-size:100% 34%; font-size:.875rem; }

@media screen and (max-width:839px){ .vertical-menu-toggle{ display:-webkit-box; display:-ms-flexbox; display:flex; } }

.vertical-menu-toggle:before{ content:""; display:block; width:.5em; height:1.2em; background-image:radial-gradient(circle,#646464 2px,transparent 0); background-size:100% 34%; margin-right:.2em; }

.vertical-menu-toggle:after{ content:attr(data-content); }

@media screen and (max-width:839px){ .vertical-menu{ max-height:0; transition:max-height .5s; overflow:hidden; }
  .vertical-menu.show{ max-height:1000px; margin-bottom:1em; } }

.vertical-menu ul{ list-style:none; margin-top:0; margin-bottom:0; padding-left:0; margin-left:0; }

.vertical-menu li{ padding:1em 0; border-bottom:1px solid #dfe0e0; font-size:.875rem; color:#646464; }

.vertical-menu a{ color:inherit; display:block; }

.vertical-menu a.active{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; -webkit-box-align:center; -ms-flex-align:center; align-items:center; color:#e4e4e4; }

.vertical-menu a.active:after{ content:""; display:block; width:1rem; height:1rem; background:url(../img/icon-right.svg) 100%/contain no-repeat; }

.vertical-menu a.active:hover{ text-decoration:none; }

.main-logo{ height:40px; width:auto; display:block; }

.slider{ position:relative; padding:0 2px; font-size:0; }

.slider,.slider__content{ overflow:hidden; margin-bottom:8px; }

.slider__content{ width:25%; padding:0 5px; }

@media screen and (min-width:840px){ .slider__content{ width:100%; } }

.slider__content:hover .slider__thumb{ border:3px solid #e10916; }

.slider__thumb{ width:100%; -o-object-fit:cover; object-fit:cover; border:3px solid #03115e; height:100px; }

@media screen and (min-width:1024px){ .slider__thumb{ height:135px; } }

.slider__show{ width:100%; height:424px; -o-object-fit:cover; object-fit:cover; }

@media screen and (min-width:1024px){ .slider__show{ height:565px; } }

.slider__title{ width:100%; height:100%; position:absolute; padding-bottom:20px; display:-webkit-box; display:-ms-flexbox; -ms-flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; display:flex; flex-wrap:wrap; -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; -ms-flex-line-pack:end; align-content:flex-end; }

.slider p{ font-size:2.7rem; color:#e4e4e4; background:rgba(3,17,94,.4); padding:0 15px; border-radius:6px; }

.fade-enter-active,.fade-leave-active{ transition:-webkit-transform .5s; transition:transform .5s; transition:transform .5s,-webkit-transform .5s; -webkit-transform:translateY(2%); transform:translateY(2%); }

.fade-enter,.fade-leave-to{ opacity:0; -webkit-transform:translateY(-100%); transform:translateY(-100%); }

ol,ul{ margin-top:1em; margin-bottom:1em; padding-left:2em; margin-left:2em; }

ol li,ul li{ padding-left:.2em; }

.data-list,.feature-list{ list-style:none; margin-top:0; margin-bottom:0; padding-left:0; margin-left:0; margin-bottom:1em; }

.data-list li,.feature-list li{ border-bottom:1px solid #dfe0e0; padding:.5em 0; }

.data-list li{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

.data-list [class*=button],.data-list h1,.data-list h2,.data-list h3,.data-list h4,.data-list h5,.data-list h6,.data-list p{ margin:0; }

.feature-list{ padding-left:0; background:hsla(0,0%,89%,.7); }

@media screen and (min-width:550px){ .feature-list{ overflow:auto; }
  .feature-list::-webkit-scrollbar{ width:8px; }
  .feature-list::-webkit-scrollbar-thumb{ background:#f3a908bf; border-radius:50px; border:1px solid hsla(180,2%,88%,.7); } }

.feature-list li{ padding:.5em 0 0 1.2em; list-style:none; position:relative; font-size:.85rem; line-height:1.35; }

.feature-list li:before{ content:""; width:1rem; height:1rem; display:block; position:absolute; top:.6em; left:0; color:#e10916; background:url(../images/icon-check.svg); }

code{ color:#e4e4e4; display:inline-block; border:1px solid #dfe0e0; padding:.1em .5em; margin:0 .5em; font-family:monospace; }

pre code{ display:block; border:none; }

.center{ text-align:center; }

.strong{ font-weight:700; }

table{ table-layout:fixed; border-collapse:collapse; font-size:.875rem; background:#fff; }

table th{ background:#e10916; }

table td{ border-bottom:1px solid rgba(225,9,22,.3); }

table tr:hover{ background:rgba(225,9,22,.1); }

table.first-column td:first-child{ background:rgba(225,9,22,.75); color:#fff; }

table th{ font-family:Open Sans,sans-serif; text-align:left; color:#fff; font-weight:700; border-right:1px solid hsla(0,0%,100%,.2); }

table td{ min-width:100px; }

table td:nth-child(2n){ background:hsla(180,2%,88%,.2); }

table td,table th{ padding:1em 1.5em; }

.table-container{ width:100%; overflow-x:auto; border:1px solid #dfe0e0; margin-bottom:2em; position:relative; }

.table--secondary th{ background:#03115e; }

.table--secondary td{ border-bottom:1px solid rgba(3,17,94,.3); }

.table--secondary tr:hover{ background:rgba(3,17,94,.1); }

.table--secondary.first-column td:first-child{ background:rgba(3,17,94,.75); color:#fff; }

.table--tertiary th{ background:#e4e4e4; }

.table--tertiary td{ border-bottom:1px solid hsla(0,0%,89%,.3); }

.table--tertiary tr:hover{ background:hsla(0,0%,89%,.1); }

.table--tertiary.first-column td:first-child{ background:hsla(0,0%,89%,.75); color:#fff; }

.table--accent th{ background:#f7fb05; }

.table--accent td{ border-bottom:1px solid rgba(247,251,5,.3); }

.table--accent tr:hover{ background:rgba(247,251,5,.1); }

.table--accent.first-column td:first-child{ background:rgba(247,251,5,.75); color:#fff; }

.table--dark th{ background:#171a1c; }

.table--dark td{ border-bottom:1px solid rgba(23,26,28,.3); }

.table--dark tr:hover{ background:rgba(23,26,28,.1); }

.table--dark.first-column td:first-child{ background:rgba(23,26,28,.75); color:#fff; }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{ -webkit-appearance:none; margin:0; }

input[type=number]{ -moz-appearance:textfield; }

.form_buttons{ padding:10px 0; text-align:center; }

.form_buttons button{ font-size:1.2rem; padding:15px; margin:0; }

form .form__item{ margin-bottom:2rem; }

form input:not([type=checkbox]):not([type=radio]):not([type=submit]),form select,form textarea{ display:block; border:1px solid #dfe0e0; background:#d7d7d7; box-shadow:0 0 1px 1px #171a1c; width:100%; line-height:1.6; font-family:Lato,"sans-serif"; font-size:.875rem; color:#171a1c; border-radius:.25rem; padding:.5rem 1rem; }

form input:not([type=checkbox]):not([type=radio]):not([type=submit])::-webkit-input-placeholder,form select::-webkit-input-placeholder,form textarea::-webkit-input-placeholder{ color:rgba(23,26,28,.75); }

form input:not([type=checkbox]):not([type=radio]):not([type=submit]):-ms-input-placeholder,form select:-ms-input-placeholder,form textarea:-ms-input-placeholder{ color:rgba(23,26,28,.75); }

form input:not([type=checkbox]):not([type=radio]):not([type=submit])::placeholder,form select::placeholder,form textarea::placeholder{ color:rgba(23,26,28,.75); }

form textarea{ min-height:6em; }

form label{ color:#03115e; display:block; font-size:.875rem; margin-bottom:.2em; }

form label+input::-webkit-input-placeholder{ display:none; }

form label+input:-ms-input-placeholder{ display:none; }

form label+input::placeholder{ display:none; }

.card{ border:1px solid #dfe0e0; box-shadow:0 1px 2px rgba(0,0,0,.1); background:#fff; border-radius:.25rem; margin-bottom:2rem; }

.card [class*=button],.card p{ margin:0; }

.card__img img{ display:block; border-radius:.25rem .25rem 0 0; }

.card__content{ font-size:.875rem; padding:1rem; }

.card__title{ font-family:Open Sans,"sans-serif"; font-weight:700; margin-bottom:1rem; }

.card__title+.card__subtitle{ margin-top:-1rem; }

.card__subtitle{ font-size:.75rem; opacity:.5; margin-bottom:.5rem; }

.card__footer{ margin-top:1rem; font-size:.75rem; border-top:1px solid #dfe0e0; padding-top:1rem; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; }

.card__footer,.card__user{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

.card__user a{ color:#646464; }

.card__user-img img{ border-radius:50%; width:2rem; height:2rem; display:block; margin-right:.5rem; }

[class*=card--mini] .card__title{ margin-bottom:.25rem; }

[class*=card--mini] .card__body{ font-size:.75rem; padding-top:.5rem; border-top:1px solid #f7fb05; }

[class*=card--mini] .card__footer{ border-top:none; padding-top:0; }

@media screen and (min-width:840px){ .card--mini-horizontal{ display:-webkit-box; display:-ms-flexbox; display:flex; } }

.card--mini-horizontal .card__img img{ border-radius:.25rem 0 0 .25rem; }

.post-header{ position:relative; margin-bottom:2em; }

.post-header img{ display:block; }

.post-header:before{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(23,26,28,.8); }

.post-header h1{ position:absolute; top:50%; text-align:center; width:90%; left:5%; -webkit-transform:translateY(-50%); transform:translateY(-50%); color:#fff; }

.post .author{ display:table; margin:-5em auto 2em; position:relative; }

.post .author img{ border:4px solid #fff; }

.main-banner{ background:#e10916; color:#fff; -webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 94%); clip-path:polygon(0 0,100% 0,100% 100%,0 94%); margin-bottom:4rem; position:relative; }

.main-banner.main-banner--secondary{ background:#03115e; }

.main-banner.main-banner--tertiary{ background:#e4e4e4; }

.main-banner.main-banner--accent{ background:#f7fb05; }

.main-banner.main-banner--dark{ background:#171a1c; }

.main-banner__img{ position:absolute; top:0; left:0; width:100%; height:100%; -o-object-fit:cover; object-fit:cover; opacity:.1; }

.main-banner__data{ text-align:center; margin-top:2rem; margin-bottom:3rem; position:relative; }

@media screen and (min-width:840px){ .main-banner__data{ margin-top:8rem; margin-bottom:11.25rem; } }

.main-banner__author{ color:#fff; margin-top:-1.5rem; }

.main-banner__author a{ color:inherit; }

.main-banner__author-img{ width:6rem; height:6rem; border-radius:50%; border:2px solid; display:block; margin:0 auto; }

.main-banner__author-name,[class*=topbar]{ font-size:.875rem; }

[class*=topbar]{ background:#e10916; color:#fff; margin-bottom:2rem; }

[class*=topbar] .ed-item{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }

@media screen and (min-width:840px){ [class*=topbar] .ed-item{ height:4rem; } }

@media screen and (max-width:839px){ [class*=topbar] .ed-item{ padding-top:.5rem; padding-bottom:.5rem; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; } }

[class*=topbar] .button,[class*=topbar] a,[class*=topbar] form,[class*=topbar] input,[class*=topbar] p{ margin-top:0; margin-bottom:0; color:inherit; }

[class*=topbar] form{ -webkit-box-flex:1; -ms-flex:auto; flex:auto; }

@media screen and (max-width:839px){ [class*=topbar] form{ display:none; } }

[class*=topbar] input{ border:none; background:#fff url(../img/icon-search.svg) center right 1rem/1rem no-repeat !important; }

[class*=topbar] [class*=button]{ padding-top:.5rem; padding-bottom:.5rem; margin-right:0; margin-left:2rem; }

.topbar--secondary{ background:#03115e; }

.topbar--tertiary{ background:#e4e4e4; }

.topbar--accent{ background:#f7fb05; }

.topbar--dark{ background:#171a1c; }

.social{ padding-left:0; text-align:center; }

.social__icon{ display:inline-block; padding-left:0; }

.social a:hover{ text-decoration:none; }

.social i{ color:#03115e; background:radial-gradient(hsla(0,0%,100%,.67) 0,hsla(0,0%,100%,.43) 250%); box-shadow:0 0 1px 0 #010101; }

.social i:hover{ color:#fff; }

.icon-facebook,.icon-twitter,.icon-youtube{ display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; width:50px; height:50px; padding-top:.55rem; font-size:2rem; border-radius:50px; transition:all .5s; margin:0 5px; }

.icon-twitter:hover{ background:#1ca0f1; }

.icon-youtube:hover{ background:#fd0000; }

.icon-facebook:hover{ background:#4862a3; }

body{ font-size:1.125rem; font-family:Lato,"sans-serif"; font-weight:400; line-height:1.6; color:#646464; }

@media screen and (max-width:839px){ body{ font-size:.875rem; } }

h1,h2,h3,h4,h5,h6{ font-family:Open Sans,"sans-serif"; font-weight:700; letter-spacing:-.01em; line-height:1.3; }

.body-font{ font-family:Lato,"sans-serif"; }

.heading-font{ font-family:Open Sans,"sans-serif"; }

.t1,h1{ font-size:2.25rem; }

@media screen and (max-width:839px){ .t1,h1{ font-size:1.875rem; } }

.t2,h2{ font-size:1.875rem; }

@media screen and (max-width:839px){ .t2,h2{ font-size:1.5rem; } }

.t3,h3{ font-size:1.5rem; }

@media screen and (max-width:839px){ .t3,h3{ font-size:1.125rem; } }

h4{ font-size:1.125rem; }

.small,h5{ font-size:.875rem; }

.smaller,h6{ font-size:.75rem; }

.t1,h1{ margin-top:0; margin-bottom:2rem; }

.t2,h2{ margin-top:4rem; }

.t2,.t3,h2,h3{ margin-bottom:1rem; }

.t3,h3{ margin-top:3rem; }

h4,h5,h6{ margin-top:2rem; margin-bottom:.5rem; }

blockquote,figure,iframe,p,video{ margin-top:0; margin-bottom:2rem; }

p.small,p.smaller{ margin-bottom:1rem; }

.t1+.subtitle,h1+.subtitle{ font-size:.875rem; margin-top:-1.5rem; margin-bottom:2rem; }

blockquote{ font-size:1.5rem; font-style:italic; letter-spacing:.01em; margin-left:4rem; position:relative; opacity:.9; }

@media screen and (max-width:839px){ blockquote{ font-size:1.125rem; } }

blockquote:before{ content:"\201C"; font-family:Georgia,serif; font-size:3em; position:absolute; top:.5em; left:-.6em; line-height:0; letter-spacing:-.5em; }

a{ color:#03115e; }

main a{ text-decoration:none; }

main a:hover{ text-decoration:underline; }

::-moz-selection{ background:#03115e; color:#fff; }

::selection{ background:#03115e; color:#fff; }

.colors{ display:-ms-grid; display:grid; -ms-grid-columns:(minmax(200px,1fr))[auto-fit]; grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); grid-gap:1.5em; margin-bottom:2em; }

.color__sample{ padding-bottom:100%; height:0; }

.color__sample.color--body{ border:1px solid #dfe0e0; }

.color--primary{ background:#e10916; }

.color--secondary{ background:#03115e; }

.color--tertiary{ background:#e4e4e4; }

.color--accent{ background:#f7fb05; }

.color--dark{ background:#171a1c; }

.color--border{ background:#dfe0e0; }

.color--text{ background:#646464; }

.color--body{ background:#fafdff; }

.color__info{ text-align:center; border:1px solid #dfe0e0; border-top:none; padding:1em; background:#fff; }

.color__code,.color__name{ margin:0; }

.color__name{ font-weight:700; }

.data-list li div:last-child p{ text-align:right; }

.vertical-menu-toggle{ color:#e10916; }

.menu__movil{ padding-left:5px; padding-right:5px; }

@media screen and (min-width:840px){ .menu__movil{ display:none; } }

.ah{ color:#fff; opacity:.3; transition:opacity .5s; }

.ah:hover{ opacity:.8; }

.map{ width:100%; height:575px; }

/*# sourceMappingURL=styles.css.map */
