*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  background : $bodyBg;
}


strong,
em {
  font-weight : 700;
}


p {
  margin-top : 0;
}
a:hover {
text-decoration-style: dotted;
}

iframe{
  height: 400px;
}