<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <title>CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com">
    <meta name="description" content="Mallas olímpicas para gaviones y gallineros, enmallado de canchas polifuncionales, viviendas, retención de balones. Estructuras metálicas: Tinglados tipo parabólico, dos medias aguas, y con perfilería metálica, juegos de recreación infantil para parques, portones metálicos, verjas, arcos de fútbol y polifuncionales. Postes, viguetas, vaciado de concreto. Pintura  y mantenimiento de construcciones: Pintado domiciliario e industrial, refacción y pintado de paredes, cambio de placas, ganchos e impermeabilizado. Soldadura de cañería de alta y mediana presión, chaveteros o seguros, alambre de púas, tensor de alambre, torniquetes.">
    <meta property="og:title" content="CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.">
    <meta property="og:description" content="Mallas olímpicas para gaviones y gallineros, enmallado de canchas polifuncionales, viviendas, retención de balones. Estructuras metálicas: Tinglados tipo parabólico, dos medias aguas, y con perfilería metálica, juegos de recreación infantil para parques, portones metálicos, verjas, arcos de fútbol y polifuncionales. Postes, viguetas, vaciado de concreto. Pintura  y mantenimiento de construcciones: Pintado domiciliario e industrial, refacción y pintado de paredes, cambio de placas, ganchos e impermeabilizado. Soldadura de cañería de alta y mediana presión, chaveteros o seguros, alambre de púas, tensor de alambre, torniquetes.">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/styles.css?v1.0.3">
  </head>
  <body>
    <div id="app">
      <header class="header">
        <nav class="conserco">
          <ul class="header__social social">
            <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
            <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
            <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
          </ul>
          <div class="header__logo"><img src="images/conserco.png" alt="CONSERCO"></div>
          <ul class="header__inicio">
            <li class="header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
          </ul>
        </nav>
        <nav>
          <ul class="header__menu">
            <li class="header__menu_item" v-for="item in mainmenu"><a class="button full" v-text="item.title" :href="item.href"></a></li>
          </ul>
        </nav>
      </header>
      <div class="col100">
        <h2 class="col100 main__title" v-text="mainmenu[0].title"></h2>
      </div>
      <main class="col100">
        <div class="main"></div>
      </main>
      <footer class="footer">
        <div class="footer__item footer__item_1">
          <div class="footer__itemcontent">
            <h2 class="footer__title">PRODUCTOS Y SERVICIOS</h2>
            <nav class="footer__menu">
              <ul class="footer__menu_ul">
                <li class="footer__menu_item" v-for="item in mainmenu"><a class="footer__menu_link" :href="item.href" v-text="item.title"></a>
                  <ul class="footer__submenu feature-list">
                    <li class="footer__submenu_item" v-for="subitem in item.submenu"><a class="footer__submenu_link" :href="subitem.href" v-text="subitem.title"></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="conserco">
            <div class="footer__itemcontent item conserco">
              <h2 class="footer__title">CONSERCO - BOLIVIA</h2>
              <p class="footer__text col100"><span class="block"><b>SANTA CRUZ:</b> Av. Virgen de Cotoca y Av. Jardín (9º Anillo. Entrando media cuadra) </span><span><a class="marker" href="menuinicio[2].href"><i class="icon icon-marker"></i> <strong> VER MAPA </strong></a></span></p>
              <p class="footer__text col50"><span class="block"><b>Telf.:</b> (591-3) 3609700</span><br><span><strong>Cel.:</strong> <span class="whatsapp">79018564</span></span></p>
              <p class="footer__text col50"><strong>E-mail.:</strong><span>ventas.conserco@gmail.com <br>conserco@cotas.com.bo</span></p>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer__copyright">
        <div class="footer__item">
          <div class="conserco">
            <div class="footer__itemcontent item conserco">
              <p class="col50">Todos los Derechos Reservados ®. <strong>Conserco</strong>.<span>© <i id="currentDate"></i></span></p>
              <p class="col50"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.3"></script>
  </body>
</html>