<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <title>CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com">
    <meta name="description" content="">
    <meta property="og:title" content="CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.">
    <meta property="og:description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/styles.css?v1.0.4">
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="header__content">
          <nav class="conserco header__nav">
            <ul class="header__social social">
              <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
              <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
              <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
            </ul>
            <div class="header__logo"><a href="./"><img src="images/conserco.png" alt="CONSERCO"></a></div>
            <ul class="header__inicio">
              <li class="header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
            </ul>
          </nav>
        </div>
        <nav class="conserco menu__movil"><a class="button full" v-on:click="toggleMenu()">MENÚ</a></nav>
        <div class="header__content">
          <nav class="header__movil" :class="{ header__movil_active: toggle }">
            <ul class="header__movil_inicio">
              <li class="header__movil_item header__inicio_item" v-for="item in menuinicio"><a class="button--tertiary full" :href="item.href" v-text="item.title"></a></li>
            </ul>
            <ul class="header__menu">
              <li class="header__menu_item" v-for="item in mainmenu"><a class="button full" v-text="item.title" :href="item.href"></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="nandes">
        <h2>BOTONES</h2>
        <div class="show-buttons nandes"><a class="button center">class="button center"</a><a class="button full">class="button full"</a><a class="button">class="button"</a><a class="button--secondary">class="button--secondary"</a><a class="button--tertiary">class="button--tertiary"</a><a class="button--cta">class="button--cta"</a><a class="button--dark">class="button--dark"</a><a class="button--ghost">class="button--ghost"</a><a class="button--ghost--secondary">class="button--ghost--secondary"</a><a class="button--ghost--tertiary">class="button--ghost--tertiary"</a><a class="button--ghost--cta">class="button--ghost--cta"</a><a class="button--ghost--dark">class="button--ghost--dark"</a></div>
      </div>
      <div class="nandes">
        <h2>Tabla predeterminanda</h2>
        <div class="table-container">
          <table>
            <tbody>
              <tr></tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
              <tr></tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
              <tr></tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
              <tr></tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
              <tr></tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
              <tr></tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
              <tr></tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tbody>
          </table>
        </div>
        <h2>Tabla secundaria            </h2>
        <div class="table-container">
          <table class="table--secondary">
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <h2>Tabla con enfasis          </h2>
        <div class="table-container">
          <table class="table--accent first-column">
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <h2>Tabla oscura          </h2>
        <div class="table-container">
          <table class="table--dark first-column">
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <h2>Tabla first-column          </h2>
        <div class="table-container">
          <table class="first-column">
            <tbody></tbody>
            <tr>
              <th></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Setiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th>Diciembre</th>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
            <tr>
              <td>Ventas</td>
              <td>10045</td>
              <td>20090</td>
              <td>30135</td>
              <td>40180</td>
              <td>50225</td>
              <td>60270</td>
              <td>70315</td>
              <td>80360</td>
              <td>90405</td>
              <td>100450</td>
              <td>110495</td>
              <td>120540</td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td>2761</td>
              <td>5522</td>
              <td>8283</td>
              <td>11044</td>
              <td>13805</td>
              <td>16566</td>
              <td>19327</td>
              <td>22088</td>
              <td>24849</td>
              <td>27610</td>
              <td>30371</td>
              <td>33132</td>
            </tr>
            <tr>
              <td>Impuestos</td>
              <td>976</td>
              <td>1952</td>
              <td>2928</td>
              <td>3904</td>
              <td>4880</td>
              <td>5856</td>
              <td>6832</td>
              <td>7808</td>
              <td>8784</td>
              <td>9760</td>
              <td>10736</td>
              <td>11712</td>
            </tr>
          </table>
        </div>
        <p class="strong">Listas de características</p>
        <ul class="feature-list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.</li>
          <li>Item list 2</li>
          <li>Item list 3</li>
          <li>Item list 4</li>
          <li>Item list 5</li>
        </ul>
        <h2 class="item">Lista de datos </h2>
        <ul class="item data-list">
          <li>
            <p class="strong">Dominios permitidos</p>
            <p>10 dominios .com</p>
          </li>
          <li>
            <p class="strong">Ventas acumuladas en 2017</p>
            <p>$ 1 786 000 000</p>
          </li>
          <li>
            <p class="strong">Mostrar un botón</p><a class="button--cta small" href="#">Inscribete ahora</a>
          </li>
        </ul>
        <form>
          <div class="nandes">
            <div class="item form__item"></div>
            <label>Nombre de usuario</label>
            <input>
            <div class="item form__item"></div>
            <label>Su contraseña</label>
            <input>
            <div class="item form__item"></div>
            <p class="small">Ejemplos de checkbox</p>
            <label>
              <input type="checkbox">Elige esta opcion
            </label>
            <label>
              <input type="checkbox">Elige esta opcion
            </label>
            <div class="item form__item"></div>
            <p class="small">Ejemplos de radio buttons</p>
            <label>
              <input type="radio" name="radio">Elige esta otra opcion
            </label>
            <label>
              <input type="radio" name="radio">Elige esta otra opcion
            </label>
            <div class="item form__item"></div>
            <label>Selecciona tu país</label>
            <select>
              <option>Colombia</option>
              <option>Bolivia</option>
              <option>Argentina</option>
              <option>Perú</option>
              <option>México</option>
            </select>
            <div class="item form__item"></div>
            <textarea placeholder="Escriba su mensaje"></textarea>
            <div class="item form__item"></div>
            <input class="button full small" type="submit" value="Enviar">
          </div>
        </form><br>
        <h2 class="item">CARDS TARJETAS</h2><br>
        <div class="col50">
          <div class="card">
            <div class="card__img"><img src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg"></div>
            <div class="card__content">
              <div class="card__title">Título de la tarjeta</div>
              <div class="card__subtitle">
                <p>Subtitulo de la tarjeta</p>
              </div>
              <div class="card__body">
                <p>Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).</p>
              </div>
              <footer class="card__footer">
                <div class="card__user">
                  <div class="card__user-img"><img src="usuario.jpg"></div>
                  <div class="card__user-name"><a href="#">Alexys Lozada</a></div>
                </div>
                <div class="card__button"><a class="button--ghost--tertiary button--small" href="#">Etiqueta</a></div>
              </footer>
            </div>
          </div>
        </div>
        <div class="col50">
          <div class="card">
            <div class="card__img"><img src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg"></div>
            <div class="card__content">
              <div class="card__title">Título de la tarjeta</div>
              <div class="card__subtitle">
                <p>Subtitulo de la tarjeta</p>
              </div>
              <div class="card__body">
                <p>Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).</p>
              </div>
              <footer class="card__footer">
                <div class="card__user">
                  <div class="card__user-img"><img src="usuario.jpg"></div>
                  <div class="card__user-name"><a href="#">Alexys Lozada</a></div>
                </div>
                <div class="card__button"><a class="button--ghost--tertiary button--small" href="#">Etiqueta</a></div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="conserco">
          <div class="footer__item footer__item_2">
            <div class="footer__itemcontent">
              <h2 class="footer__title">CONSERCO - BOLIVIA</h2>
              <div class="footer__item--block item conserco">
                <p class="footer__text col100"><span class="block"><b>SANTA CRUZ:</b> Av. Virgen de Cotoca y Av. Jardín (9º Anillo. Entrando media cuadra) </span><span><a class="marker" :href="menuinicio[2].href"><i class="icon icon-marker"></i> <strong> VER MAPA </strong></a></span></p>
                <p class="footer__text col50"><span class="block"><b>Telfs.:</b> (591-3) 3609700  / (591-3) 3903232</span><br><span><strong>Cels.:</strong> <span class="whatsapp">79018564</span> / <span class="whatsapp">77019111</span></span></p>
                <p class="footer__text col50"><strong>E-mail.:</strong><span>ventas.conserco@gmail.com <br>conserco@cotas.com.bo</span></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer__copyright">
        <div class="footer__item footer__copyright_item">
          <div class="conserco">
            <div class="footer__itemcontent item conserco">
              <p class="col50">Todos los Derechos Reservados ®. <strong>Conserco</strong>.<span>© <i id="currentDate"></i></span></p>
              <ul class="footer__social social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href=""><i class="icon-twitter"></i></a></li>
              </ul>
              <p class="col50"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.4"></script>
  </body>
</html>