doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
	head
		title CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
		meta(name='description', content='')
		meta(property="og:title" content="CONSERCO - Mallas olímpicas y construcción de estructuras metálicas.")
		meta(property="og:description" content="")  
		meta(name='author', content='')
		meta(name='keywords', content='')
		link(rel="stylesheet" href="css/styles.css?v1.0.4")
	body
		#app
			header.header
				.header__content
					nav.conserco.header__nav
						ul.header__social.social
							li.header__social_item.social__icon: a.header__social_link(href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/", target="_black"): i.icon-facebook 
							li.header__social_item.social__icon: a.header__social_link(href=""): i.icon-youtube
							li.header__social_item.social__icon: a.header__social_link(href=""): i.icon-twitter
						.header__logo: a(href="./"): img(src="images/conserco.png", alt="CONSERCO")
						ul.header__inicio
							li.header__inicio_item(v-for="item in menuinicio"): a.button--tertiary.full(:href="item.href" v-text="item.title")
				nav.conserco.menu__movil
					a.button.full(v-on:click= "toggleMenu()") MENÚ
				.header__content
					nav.header__movil(:class="{ header__movil_active: toggle }")
						ul.header__movil_inicio
							li.header__movil_item.header__inicio_item(v-for="item in menuinicio"): a.button--tertiary.full(:href="item.href" v-text="item.title")
						ul.header__menu
							li.header__menu_item(v-for="item in mainmenu"): a.button.full(v-text="item.title" :href="item.href")
			block content
			footer.footer
				.conserco
					//- .footer__item.footer__item_1
						.footer__itemcontent
							h2.footer__title PRODUCTOS Y SERVICIOS
							nav.footer__menu
								ul.footer__submenu.feature-list
									li.footer__submenu_item(v-for="item in mainmenu")
										a.footer__submenu_link(:href="item.href",v-text="item.title")
					.footer__item.footer__item_2
						.footer__itemcontent
							h2.footer__title CONSERCO - BOLIVIA
							.footer__item--block.item.conserco
								p.footer__text.col100 <span class="block"><b>SANTA CRUZ:</b> Av. Virgen de Cotoca y Av. Jardín (9º Anillo. Entrando media cuadra) </span><span><a class="marker" :href="menuinicio[2].href"><i class="icon icon-marker"></i> <strong> VER MAPA </strong></a></span>
								p.footer__text.col50 <span class="block"><b>Telfs.:</b> (591-3) 3609700  / (591-3) 3903232</span><br><span><strong>Cels.:</strong> <span class="whatsapp">79018564</span> / <span class="whatsapp">77019111</span></span>
								p.footer__text.col50 <strong>E-mail.:</strong><span>ventas.conserco@gmail.com <br>conserco@cotas.com.bo</span>
			footer.footer__copyright
				.footer__item.footer__copyright_item
					.conserco
						.footer__itemcontent.item.conserco
							p.col50 Todos los Derechos Reservados ®. <strong>Conserco</strong>.<span>© <i id="currentDate"></i></span>
							ul.footer__social.social
								li.header__social_item.social__icon: a.header__social_link(href="https://www.facebook.com/Conserco-Construcciones-Servicios-y-Concreto-348863381858418/", target="_black"): i.icon-facebook 
								li.header__social_item.social__icon: a.header__social_link(href=""): i.icon-youtube
								li.header__social_item.social__icon: a.header__social_link(href=""): i.icon-twitter
							p.col50: a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD
		script(src="js/scripts.js?v1.0.4")