body{
  background: #a8afc8;
  &::-webkit-scrollbar {
      width: 12px;
      &-thumb{
        background: #ffae00bf;
        border-radius: 100px;
        border: solid 2px $borderColor;
      }
  }
}
.header{
  z-index: 50;
  background: $secondColor url('../images/header-background.png');
  box-shadow: inset 0px -20px 20px 0px transparentize($darkColor, 0.8), -1px 0 10px 2px $darkColor;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  &__content{
    position: relative;
  }
  &__movil{
    @include to(l){
      @include edItem(100, 62, 100);
      position: absolute;
      top: 0;
      left: 0; 
      background: transparentize($bodyBg, 0.5);
      transform: translateX(-100%);
      transition: transform 0.8s;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &_active{
      transform: translateX(0);
    }
    &_inicio{
      @include hideFrom(l);
      @include to(l){
        @include edItem(100,100);
        padding: 0;
        margin: 0;
        @include edContainer;
      }
    }
    &_item{
      @include edItem(33.3333333);
      padding: 0 5px;
    }
  }
  &__nav{
    position: relative;
    margin-bottom: 12px;
  }
  &__menu{
    display: flex;
    flex-wrap: wrap;
    @include edItem(100,100, 100);
    margin-left:0;
    padding-left: 0;
    padding-right: 0;
    &_item{
      @include edItem(100, 100, 20);
      @include mainStart;
      list-style: none;
      padding: 0 .2rem;
    }
  }
  .button{
    @include crossCenter;
    @include mainCenter;
    @include fromTo(s,xl){
      height : 50px;
    }
    @include from(l){
      font-size       : 1.2rem;
    }
    @include from(l){
      font-size       : 1.1rem;
    }

    text-shadow     : -1px -1px 1px $secondColor;
    text-transform  : uppercase;
    border          : solid 1px $textColor;
    font-weight     : 600;
    line-height     : 1.3;
    overflow        : hidden;
    &:hover{
      text-shadow: none;
    }
    @include fromTo(l,xl){
      font-size     : 0.8rem;
      line-height   : 1.5;
    }
  }
  .button--tertiary{
    font-size: .9rem;
    padding: 3px 12px;
  }
  &__inicio{
    margin-left:0;
    padding-left: 0; 
    @include edItem(30);
    @include mainCenter;
    @include crossCenter;
    @include edContainer;
    &_item{
      list-style: none;
      margin-bottom: 7px;
    }
    @include to(l){
      display: none;
    }
  }
  &__logo{
    margin: auto;
    @include edItem(100, 70,40);
    @include mainCenter;
    @include crossCenter;
    img{
      background: #fff;
      padding: 10px 10px 9px;
      border-radius: 8px;
      border: 1px #a2a2a3;
      border-style: ridge;
    }
  }
  &__social{
    @include edItem(30);
    @include mainCenter;
    @include crossCenter;
    @include to(l){
      display: none;
    }
  }
}
.main{
  @include mainStart;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px 0px $darkColor;
  background: $bodyBg;
  &__title{
    background: radial-gradient(#ffffff, #eeeeee,#dddddd,#bebebe);
    color: $secondColor;
    text-align: center;
    border: groove 3px;
    margin: 10px 0;
  }
  &__section{
    @include edItem(100,33.333333);
    &:nth-child(-n+2) {
      border-right: 1.5px solid #ffffff;
      -o-border-image: linear-gradient(transparent 20%, transparentize($secondColor, 0.75) 0, transparentize($secondColor, 0.75) 0, transparentize($secondColor, 0.75) 100%,transparent 0);
      border-image: linear-gradient(transparent 20%, transparentize($secondColor, 0.75) 0, transparentize($secondColor, 0.75) 0, transparentize($secondColor, 0.75) 100%,transparent 0);
      border-image-slice: 1;
    }
    img{
      width: 100%;
      object-fit: cover;
      @include from(xl){
        height: 250px;
      }
      @include fromTo(l, xl){
        height: 170px;
      }
      @include fromTo(m, l){
        height: 140px;
      }
      @include to(m){
        height: 200px;
      }
    }
  }
  h3{
    margin-top: 1.1em;
  }
}

#app {
  display : flex;
  flex-direction : column;
  min-height : calc(100vh - 64px);
}

.sidebar-first {
  margin-bottom : 1em;
}

.footer{
  background: $thirdColor url('../images/header-background.png');
  box-shadow: 0 0 10px 0px $darkColor;
  &__item{
    padding-top: 20px;
    padding-bottom: 18px;
    &--block{
      background: hsla(0,0%,89%,.7);
    }
  }
  &__title{
    width: 100%;
    margin: 0 0 5px;
    color: $bodyBg;
    background: linear-gradient($firstColor, darken($firstColor,20));
    text-align: center;
    border-bottom: solid 1px $secondColor;
  }
  &__text{
    @include mainCenter;
    @include crossCenter;
    font-size: 1.1rem;
    color: lighten($secondColor, 5);
    margin-top: 5px;
    text-align: center;
  }
  &__menu{
    &_ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
    &_item{
      @include edItem(100,50,33.33333,20);
      padding: 0 0.3rem;
    }
    &_link{
      @include mainCenter;
      @include crossCenter;
      height: 42px;
      font-size: 0.85rem;
      line-height: 1.25;
      text-align: center;
      background: $secondColor;
      color: $thirdColor;
      overflow: hidden;
    }
  }
  &__submenu{
    margin: 0;
  }
  &__copyright{
    background: $secondColor url(../images/header-background.png);
    box-shadow: -1px 0 10px 2px #171a1c;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    p{
      font-size: 1rem;
    }
    &_item{
      background: linear-gradient(rgba(0, 11, 50, 0.8588235294117647),rgba(5, 12, 89, 0.7686274509803922),rgba(8, 16, 94, 0.51));
    }
  }
  span{
    display: inline-block;
  }
  &__social{
    width: 100%;
    @include mainCenter;
    @include from(l){
      display: none;
    }
  }
}
