.card {
  @include widget;
  @include round;
  margin-bottom : 2rem;

  p, [class*="button"]  {
    margin : 0;
  }
}

.card__img {
  img {
    display : block;
    border-radius : .25rem .25rem 0 0;
  }
}

.card__content {
  font-size : fontSize(small);
  padding : 1rem;
}

.card__title {
  font-family : $heading-font;
  font-weight : 700;
  margin-bottom : 1rem;

  + .card__subtitle {
    margin-top : -1rem;
  }
}

.card__subtitle {
  font-size : fontSize(smaller);
  opacity : .5;
  margin-bottom : .5rem;
}

.card__footer {
  margin-top : 1rem;
  font-size : fontSize(smaller);
  border-top : 1px solid $borderColor;
  padding-top : 1rem;
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.card__user {
  display : flex;
  align-items: center;

  a {
    color: $textColor;
  }
}

.card__user-img {
  img {
    @include circle;
    width : 2rem;
    height : 2rem;
    display : block;
    margin-right : .5rem;
  }
}

// Card mini
[class*="card--mini"] {
  .card__title {
    margin-bottom : .25rem;
  }
  .card__body {
    font-size : fontSize(smaller);
    padding-top : .5rem;
    border-top : 1px solid $accentColor;
  }

  .card__footer {
    border-top : none;
    padding-top : 0;
  }
}

// Card mini horizontal
.card--mini-horizontal {
  @include from(l) {
    display : flex;
  }

  .card__img {
    img {
      border-radius : .25rem 0 0 .25rem;
    }
  }
}
