.col20{
  @include edItem(100, 100, 20);
}
.col60{
  @include edItem(100, 100, 60);
  padding: 0;
}
.col30{
  @include edItem(100, 50, 30);
}
.col70{
  @include edItem(100, 50, 70);
}
.col50{
  @include edItem(100, 50);
}
.col100{
  @include edItem(100);
}
.left{
  float: left;
}
.right{
  float: right;
}