input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form{
  &_buttons{
    padding: 10px 0;
    text-align: center;
    button{
      font-size: 1.2rem;
      padding: 15px;
      margin: 0;
    }
  }
}
form {
  .form__item {
    margin-bottom : 2rem;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
    display       : block;
    border        : 1px solid $borderColor;
    background    : darken($thirdColor, 5);
    box-shadow    : 0 0 1px 1px $darkColor; 
    width         : 100%;
    line-height   : 1.6;
    font-family   : $body-font; // Fuerza a tomar la fuente por defecto
    font-size     : fontSize(small);
    color         : $darkColor;
    border-radius : .25rem;
    padding       : .5rem 1rem;
    &::placeholder {
      color : rgba($darkColor, .75);
    }
  }

  textarea {
    min-height : 6em;
  }

  label {
    color         : $secondColor;
    display       : block;
    font-size     : fontSize(small);
    margin-bottom : .2em;
    + input::placeholder {
      display : none;
    }
  }

  // [type="submit"] {
  //   margin : 0 !important;
  // }

  //.checkbox-container,
  //.radio-container {
  //  margin-bottom : 1.4rem;
  //
  //  label {
  //    display : table;
  //    color   : $darkColor;
  //  }
  //}
}
