ul, ol {
  margin-top : 1em;
  margin-bottom : 1em;
  padding-left : 2em;
  margin-left : 2em;

  li {
    padding-left : .2em;
  }
}

.data-list,
.feature-list {
  @include clearMenu;
  margin-bottom : 1em;

  li {
    border-bottom : 1px solid $borderColor;
    padding : .5em 0;
  }
}

.data-list {
  li {
    display : flex;
    justify-content: space-between;
    align-items: center;
  }

  h1,h2,h3,h4,h5,h6,p, [class*="button"] {
    margin : 0;
  }
}

.feature-list {
  padding-left : 0;
  background: transparentize($thirdColor, 0.3);
  @include from(m){
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
      &-thumb{
        background: #f3a908bf;
        border-radius: 50px;
        border: solid 1px transparentize($borderColor, 0.3);
      }
    }
  }
  li {
    padding : .5em 0 0 1.2em;
    list-style: none;
    position : relative;
    font-size: 0.85rem;
    line-height: 1.35;

    //@include icon(check,before);
    &::before {
      content: '';
      width : 1rem;
      height : 1rem;
      display : block;
      position : absolute;
      top  : 0.6em;
      left : 0;
      color: $firstColor;
      background : url(../images/icon-check.svg);
    }
  }

  //&.secondary li::before { color: $secondColor }
  //&.tertiary li::before  { color: $thirdColor  }
  //&.accent li::before    { color: $accentColor }
  //&.dark li::before      { color: $darkColor   }
}
