.slider{
  position: relative;
  @include edContainer;
  padding: 0 2px;
  overflow: hidden;
  margin-bottom: 8px;
  font-size: 0;
  &__content{
    @include edItem(25, 25, 100);
    padding: 0 5px;
    margin-bottom: 8px;
    overflow: hidden;
    &:hover{
      .slider__thumb{
        border: 3px solid $firstColor;
      }
    }
  }
  &__thumb {
    width: 100%;
    object-fit: cover;
    border: 3px solid $secondColor;
    height: 100px;
    @include from(xl){
      height: 135px;
    }
  }
  &__show{
    width: 100%;
    height: 424px;
    object-fit: cover;
    @include from(xl){
      height: 565px;
    }
  }
  &__title{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 20px;
    @include mainCenter;
    @include crossEnd;
  }
  p{
    font-size: 2.7rem;
    color: $thirdColor;
    background: transparentize($secondColor, 0.6);
    padding: 0 15px;
    border-radius: 6px;
  }
}
//Transitions vuejs Slider
.fade-enter-active, .fade-leave-active {
  transition: transform .5s;
  transform: translateY(2%);
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-100%);
}

